/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    background: url(/images/site/main__bg.jpg) 100% 100% no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Schrodingercat custom styles
   ========================================================================== */

.r-main {
    width: 100%;
    min-width: 975px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    min-height: 850px;
}
    .r-head {
        overflow: hidden;
        padding: 20px 0 0 27px;
        position: relative;
        z-index: 100;
    }
        .r-logo {
            float: left;
            margin-right: 72px;
            overflow: hidden;
        }

        .r-menu {
            margin-top: 23px;
            width: auto;
            overflow: hidden;
            margin-right: 25px;
        }
            .r-menu__elem {
                display: inline-block;
                padding: 10px 18px;
                background-color: #fff;
                color: #000;
                border-radius: 5px;
                margin-right: 25px;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Ubuntu', sans-serif;
                font-size: 16px;
            }
                .r-menu__elem_active {
                    font-weight: bold;
                    color: #fff;
                    background-color: #00316a;
                }

            .r-menu__inner {
                overflow: hidden;
                /* display: inline-block; */
                float: left;
                /* min-width: 50%; */
                /* max-width: 75%; */
                background-color: #00316a;
                margin-top: 8px;
                padding: 10px 18px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                clear: both;
            }
                .r-menu__inner-elem {
                    color: #fff;
                    margin-right: 30px;
                    font-size: 16px;
                    font-family: 'Ubuntu', sans-serif;
                }
                    .r-menu__inner-elem:hover {text-decoration: none;}

                    .r-menu__inner-elem_active {
                        text-decoration: none;
                        font-weight: bold;
                    }

            .r-menu__last {
                display: block;
                float: left;
                margin: 15px 35px 0 15px;
                color: #000;
                background-color: #fff;
                padding: 2px;
            }
                .r-menu__last_wrap {
                    clear: both;
                    overflow: hidden;
                }

                .r-menu__last:hover, .r-menu__last_active {
                    background-color: #a30000;
                    color: #fff;
                    text-decoration: none;
                }

        .r-language {
            width: 150px;
            overflow: hidden;
            text-align: right;
            height: 50px;
            position: absolute;
            top: 43px;
            right: 35px;            
        }
            .r-laguage__elem {
                display: block;
                padding: 7px 10px;
                color: #fff;
                font-size: 16px;
                float: right;
                font-family: 'Ubuntu', sans-serif;
                text-decoration: none;
                overflow: hidden;
            }
                .r-language__elem_current {
                    background: #063469 url(/images/site/language__bg.png) 0 0 repeat-x;
                    border-radius: 5px;
                    font-weight: bold;
                }
    
    .r-content {
        background-color: #fff;
        position: absolute;
        bottom: 75px;
        left: 37px;
        border-radius: 5px;
        width: 744px;
        height: 63%;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        padding: 40px 10px 25px 20px;
        z-index: 100;
    }
        .r-content_small {
            width: 529px;
            height: 164px; 
        }

        .r-content_contacts {
            width: 474px;
            height: 267px;
        }

        .r-content_projects {
            width: 474px;
            height: 400px;
        }

        .r-content_main {
            width: 529px;
            height: auto;
            padding: 15px 7px 20px 7px;
        }

        .r-content__close {
            width: 17px;
            height: 17px;
            background: url(/images/site/close__icon.jpg) 0 0 no-repeat;
            cursor: pointer;
            position: absolute;
            overflow: hidden;
            /* margin-left: 727px;
            margin-top: -25px; */
            top: 7px;
            right: 7px;
            z-index: 1000;
        }
            .r-content__close_contacts {margin-left: 450px;}

        .r-content_hide {
            width: auto; /*169*/
            height: 31px;
            padding: 0 40px 0 0;
        }

        .r-content__text {
            width: 100%;
            height: 100%;
        }

    .r-bottom {
        font-family: 'Ubuntu', sans-serif;
        font-size: 11px;
        position: absolute;
        bottom: 17px;
        right: 35px;
        z-index: 100;
    }
        .r-bottom__elem {
            color: #fff;
            display: inline-block;
            margin-left: 43px;
        }

.r-news__elem {
    overflow: hidden;
    margin-bottom: 15px;
}
    .r-news__text {
        overflow: hidden;
        width: 420px;
        float: left;
        margin-bottom: 25px;
    }

        .r-news__date {
            margin-bottom: 10px;        
        }

        .r-news__link {
            font-size: 19px;
            color: #000;
            display: block;
        }
            .r-news__link:hover {text-decoration: none;}

        .r-news__next {
            color: #004ea9;
            font-size: 16px;
            overflow: hidden;
        }
            .r-news__next:hover {text-decoration: none;}

        .r-news__photos {
            float: right;
            width: 245px;
        }
            .r-news__img {
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 20px;
            }
                .r-news__img_portrets {width: 100px;}

    .r-news__line {
        width: 540px;
        height: 1px;
        background-color: #7f7f7f;
        clear: both;
        margin-top: 24px;
    }
        .r-news__line_inner {margin-bottom: 10px;}

    .r-news__share {
        font-size: 13px;
        padding-left: 3px;
    }

    .r-news__main-photo {
        width: 220px;
        display: block;
        margin-bottom: 20px;
    }

.r-portrets__wrap {    
    width: 875px;
    /* height: 715px; */
    margin: 0 auto;
    padding-top: 50px;
}
    .bx-wrapper, .bx-viewport {
        width: 875px;
        margin: 0 auto;
    }

    .r-portrets__prev .bx-prev, .r-portrets__next .bx-next {
        width: 27px;
        height: 123px;
        position: absolute;
        background: url(/images/site/portrets__prev.png) 0 0 no-repeat;
        top: 50%;
        margin-top: -60px;
        cursor: pointer;
    }
        .r-portrets__prev .bx-prev {
            left: 40px;
        }

        .r-portrets__next .bx-next {
            right: 40px;
            background: url(/images/site/portrets__next.png) 0 0 no-repeat;
        }

    .r-portrets__elem {
        width: 372px;
        display: inline-block;
        background-color: #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-top: 48px;
        padding: 14px;
        text-decoration: none;
        font-size: 16px;
        font-family: 'Ubuntu', sans-serif;
        color: #000;
        font-style: italic;
        margin-right: 40px;
        overflow: hidden;
    }
        .r-portrets_nomargin {margin-right: 0;}

        .r-portrets__photo {
            float: left;
            margin-right: 11px;
        }

        .r-portrets__text {
            overflow: hidden;
        }
            .r-portrets__name {
                font-style: normal;
                font-weight: bold;
            }

.r-map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.r-projects__title {
    font-size: 19px;
}

.r-projects__controls {
    background-color: #fff;
    padding: 2px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    left: 560px;
    bottom: 75px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
}
    .r-projects__left, .r-projects__right {
        display: inline-block;
        cursor: pointer;
    }
        .r-projects__left {margin: 0 9px 0 12px;}
        .r-projects__right {margin: 0 13px 0 5px;}

    .r-projects__thumbs {
        width: 40px;
        height: 40px;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        margin-right: 3px;
        position: relative;
        box-sizing: border-box;
        cursor: pointer;
    }
        .r-projects__overflow {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            background: url(/images/site/overflow.png) repeat;
        }

        .r-projects__thumbs:hover>.r-projects__overflow {display: none;}
        .r-projects__thumbs:hover, .r-projects__thumbs_active {
            border: 2px solid #00316a;
        }
            .r-projects__thumbs_active>.r-projects__overflow {display: none;}

    .r-projects__hide {
        cursor: pointer;
    }

.r-title {
    font-size: 19px;
    margin-bottom: 25px;
}

.r-form {
    width: 426px;
    margin: 0 auto;
    overflow: hidden;
}
    .r-form__elem {
        overflow: hidden;
        margin-bottom: 25px;
        font-size: 14px;
        color: #7f7f7f;
    }
        .r-form__elem_center {
            text-align: center;
        }

        .r-form__input {
            display: block;
            width: 421px;
            height: 25px;
            margin-top: 3px;
            color: #000;
        }
            .r-form__input_textarea {
                height: 100px;
                width: 419px;
            }

        .r-form__button {
            height: 25px;
            color: #000;
        }

.r-hidden__title {
    background: url(/images/site/hidden__title.jpg) center left no-repeat;
    padding-left: 18px;
    overflow: hidden;
    margin-left: 13px;
    margin-bottom: 20px;
    display: none;
}
    .r-hidden__title_visible {
        display: block;
    }

    .r-hidden__link {
        font-size: 19px;
        color: #00316a;
    }
        .r-hidden__link:hover {text-decoration: none;}

.r-nom__elem {
    width: 200px;
    overflow: hidden;

}
    .r-nom__date {
        font-size: 14px;
    }

    .r-nom__link {
        font-size: 16px;
        color: #000;
    }
        .r-nom__link:hover {text-decoration: none;}

    .r-nom__prev .bx-prev, .r-nom__next .bx-next{
        position: absolute;
        width: 11px;
        height: 50px;
        top: 50%;
        margin-top: -25px;
        cursor: pointer;
    }
        .r-nom__prev .bx-prev {
            background: url(/images/site/nom__left.jpg) 0 0 no-repeat;
            left: 0;
        }

        .r-nom__next .bx-next {
            background: url(/images/site/nom__right.jpg) 0 0 no-repeat;
            right: 0;
        }





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}